*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    display: flex;
}
.left{
    padding-top: 10px;
    background-color: black;
    width: 23.3%;
    height: fit-content;
}
.middle{
    /* padding-top: 10px; */
    background-color: black;
    width: 44.5%;
    height: fit-content;
}
.right{
    padding-top: 10px;
    background-color: black;
    width: 32.2%;
    height: fit-content;
}




/* left */
.left-content{
    width: 80%;
    margin: auto;
}
.left-content img{
    width: 15%;
}
.home{
    width: fit-content;
    max-height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    /* background-color: grey; */
}
.home:hover{
    background-color: darkgray;
}
.home p{    
    font-size: 25px;
    padding-right: 10px;
    color: #E7E9EA;
}
#home-icon{
    color: white;
    height: 45px; 
    width: 45px;
    display: flex;
    align-items: center;
    margin-left: 8px;
}
.search{
    width: fit-content;
    max-height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
}
.search:hover{
    background-color: darkgray;
}
.search p{    
    font-size: 25px;
    padding-right: 10px;
    color: #E7E9EA;
}
#search-icon{
    color: white;
    height: 45px; 
    width: 45px;
    display: flex;
    align-items: center;
    margin-left: 8px;
}
.notifications{
    width: fit-content;
    max-height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
}
.notifications:hover{
    background-color: darkgray;
}
.notifications p{    
    font-size: 25px;
    padding-right: 10px;
    color: #E7E9EA;
}
#notifications-icon{
    color: white;
    height: 45px; 
    width: 45px;
    display: flex;
    align-items: center;
    margin-left: 8px;
}
.profile{
    width: fit-content;
    max-height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
}
.profile:hover{
    background-color: darkgray;
}
.profile p{    
    font-size: 25px;
    padding-right: 10px;
    color: #E7E9EA;
}
#profile-icon{
    color: white;
    height: 45px; 
    width: 45px;
    display: flex;
    align-items: center;
    margin-left: 8px;
}
.communities{
    width: fit-content;
    max-height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
}
.communities:hover{
    background-color: darkgray;
}
.communities p{    
    font-size: 25px;
    padding-right: 10px;
    color: #E7E9EA;
}
#community-icon{
    color: white;
    height: 45px; 
    width: 45px;
    display: flex;
    align-items: center;
    margin-left: 8px;
}
.left-content a{
    text-decoration: none;
}






/* right */
.search-container{
    position: relative;
    width: 100%;
    display: inline-block;
}
.search-container input{
    padding-left: 30px;
    width: 100%;
    height: 40px;
    border-radius: 25px;
    box-sizing: border-box;
    background-color: #202327;
    border: 1px solid #202327;
    color: white;
}
.search-container ::placeholder{
    color: gray;
}
.search-container span{
    position: absolute;
    left: 10px;
    top: 50%;
    color: gray;
    transform: translateY(-50%);
}


.right-content{
    width: 81.4%;
    margin: auto;
    margin-left: 30px;
}
.follow{
    border: 1px solid #2F3336;
    margin-top: 15px;
    border-radius: 15px;
    height: fit-content;
    /* width: 80%;
    margin: auto; */
}
.follow h1{
    color: #E7E9EA;
    padding: 15px;
}
.follow-1{
    display: flex;
    padding-top: 10px;
}
.first{
    color: white;
    padding-left: 7px;
}
.first h3{
    color: #E7E9EA;
}
.first p{
    color: grey;
}
.follow-btn{
    background-color: #EFF3F4;
    color: #0F1419;
    height: 25px;
    width: 80px;
    border: 1px solid #EFF3F4;
    border-radius: 25px;
    margin-left: 50px;
}
hr{
    color: #202327;
}
.profile-pic img{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-left: 10px;
}
.trends{
    padding: 15px;
    width: 100%;
    height: fit-content;
    margin-top: 15px;
    border: 1px solid #2F3336;
    border-radius: 15px;
    background-color: black;
}
.trends .trends-header{
    color: #E7E9EA;
    font-size: 23px; 
    padding-top: 3px;
    font-weight: bolder;
}
.trends h3{
    color: #E7E9EA;
}
.trend-1{
    cursor: pointer;
    padding-top: 10px;
}
.trend-1 p{
    color: gray;
    font-size: 15px;
}
#ellipsis{
    padding-left: 50%;
    display: flex;
    justify-content: end;
}
.trend-1:hover{
    background-color: darkgrey;
}
.show-more:hover{
    background-color: darkgrey;
}
.show-more{
    color: blue;
    height: 30px;
    width: 100%;
    cursor: pointer;
}
.more-trends{
    display: none;
}
.show-more:focus-within .more-trends .trend-1{
    display: block;
}
.left-content a{
    text-decoration: none;
}